.about-us-container {
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .about-us-container {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-top: 0;
  }
}
